@import "tailwindcss";


body{
  font-family: "DM Sans", sans-serif;
}
.slick-dots {
    bottom: 14px;
}

        .fade-in-element {
          opacity: 0;
          transform: translateY(-70px);
          transition: opacity 1s ease-out, transform 1s ease-out;
        }
        
        .fade-in-visible {
          opacity: 1;
          transform: translateY(0);
        }


/* Large screen (>= 1024px) overrides */
@media (min-width: 1024px) {
  .slick-dots {
bottom: -25px;
  }
}


